<nav class="navbar sticky-top navbar-dark bg-dark">
  <div class="container justify-content-start">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex flex-fill justify-content-between">
      <div class="align-self-center">
        <a class="navbar-brand ps-2" routerLink="/">Q-Forms</a>
      </div>
      <div>
        <app-patient-banner [patient]="patient"></app-patient-banner>
      </div>
      <div>
        <!-- user details -->
      </div>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/questionnaires">Questionnaires</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<questionnaire-off-canvas></questionnaire-off-canvas>

<div id="main" class="container">
  <questionnaire></questionnaire>
</div>
