<div class="topnav" id="myTopnav">
    <a ng-href="/" class="active">Home</a>
    
    <a href="javascript:void(0);" class="icon" > <!--(click)="myFunction()"-->
        <i class="fa fa-bars"></i>
    </a>
    <app-patient-banner [patient]="patient" ></app-patient-banner>

    <!--
    <script>
        /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>    
    -->
</div>

<div id="main" class="container">
    <p>qrender works!</p>
</div>
