<nav class="navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <app-patient-banner [patient]="patient" ></app-patient-banner>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <a class="navbar-brand" routerLink="/">Q-Forms</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/questionnaires">Questionnaires</a>
      </li>
    </ul>
  </div>
</nav>

<questionnaire-off-canvas></questionnaire-off-canvas>

<div id="main" class="container">
  <questionnaire ></questionnaire>
</div>
