<div class="row mb-3" [hidden]="!(enableWhen() | async)">
  <label *ngIf="!repeat" class="col-sm-5 col-form-label" for="{{item.linkId}}">{{item.text}}</label>

  <div [ngClass]="{'col-sm-7': !repeat}" *ngIf="itemControl !== 'check-box'; else checked_content">
    <select class="form-select" class="form-control" id="{{item.linkId}}" [formControl]="formControl">
      <option></option>
      <option *ngFor="let o of answerOption" value="{{o.valueCoding.code}}">{{o.valueCoding.display}}</option>
    </select>
    <div *ngIf="questionnaireInstruction() as instruction" class="questionnaire-instruction">{{instruction}}</div>
  </div>

  <ng-template #checked_content>
  <div class="col-sm-7" >
      <div class="form-check" [class.form-check-inline]="isHorizontal" *ngFor="let o of answerOption; let i = index">
        <input class="form-check-input" type="checkbox" id="{{item.linkId}}-{{o.valueCoding.code}}" value="{{o.valueCoding.code}}" [formControl]="checkboxes?.controls[i]" (change)="onCheckboxChange($event, i)"> 
        <label class="form-check-label" for="{{item.linkId}}-{{o.valueCoding.code}}">{{o.valueCoding.display}}</label>
    </div>
    <div *ngIf="questionnaireInstruction() as instruction" class="questionnaire-instruction">{{instruction}}</div>
  </div>  
  </ng-template>
</div>