
<!--qitem [item]="item" [parentArray]="repeatArray"></qitem-->
<div *ngFor="let repeat of repeatArray.controls; let i = index" [ngSwitch]="item.type">
<div [ngSwitch]="item.type">
    <!--qitem-group *ngSwitchCase="'group'" [item]="item" [parentArray]="repeatArray" ></qitem-group>
    <qitem-string *ngSwitchCase="'string'" [item]="item" [parentArray]="repeatArray"></qitem-string>
    <qitem-text *ngSwitchCase="'text'" [item]="item" [parentArray]="repeatArray"></qitem-text>
    <qitem-boolean *ngSwitchCase="'boolean'" [item]="item" [parentArray]="repeatArray"></qitem-boolean>
    <qitem-integer *ngSwitchCase="'integer'" [item]="item" [parentArray]="repeatArray"></qitem-integer>
    <qitem-decimal *ngSwitchCase="'decimal'" [item]="item" [parentArray]="repeatArray"></qitem-decimal>
    <qitem-date *ngSwitchCase="'date'" [item]="item" [parentArray]="repeatArray"></qitem-date>
    <qitem-datetime *ngSwitchCase="'datetime'" [item]="item" [parentArray]="repeatArray"></qitem-datetime>
    <qitem-choice *ngSwitchCase="'choice'" [item]="item" [parentArray]="repeatArray"></qitem-choice>
    <qitem-openchoice *ngSwitchCase="'openchoice'" [item]="item" [parentArray]="repeatArray"></qitem-openchoice>
    <qitem-quantity *ngSwitchCase="'quantity'" [item]="item" [parentArray]="repeatArray"></qitem-quantity-->

    <qitem-group *ngSwitchCase="'group'" [item]="item" [repeat]="repeat" ></qitem-group>
    <qitem-string *ngSwitchCase="'string'" [item]="item" [repeat]="repeat"></qitem-string>
    <qitem-text *ngSwitchCase="'text'" [item]="item" [repeat]="repeat"></qitem-text>
    <qitem-boolean *ngSwitchCase="'boolean'" [item]="item" [repeat]="repeat"></qitem-boolean>
    <qitem-integer *ngSwitchCase="'integer'" [item]="item" [repeat]="repeat"></qitem-integer>
    <qitem-decimal *ngSwitchCase="'decimal'" [item]="item" [repeat]="repeat"></qitem-decimal>
    <qitem-date *ngSwitchCase="'date'" [item]="item" [repeat]="repeat"></qitem-date>
    <qitem-datetime *ngSwitchCase="'datetime'" [item]="item" [repeat]="repeat"></qitem-datetime>
    <qitem-choice *ngSwitchCase="'choice'" [item]="item" [repeat]="repeat"></qitem-choice>
    <qitem-openchoice *ngSwitchCase="'openchoice'" [item]="item" [repeat]="repeat"></qitem-openchoice>
    <qitem-quantity *ngSwitchCase="'quantity'" [item]="item" [repeat]="repeat"></qitem-quantity>

    <div *ngSwitchDefault class="mb-3">
        <label for="{{item.linkId}}">{{item.text}}</label>
        <span><em>&lt;{{item.type}}&gt;</em></span>
    </div>
</div>
<button>Add another</button>
