<div class="row mb-3" [hidden]="!(enableWhen() | async)">
  <label
    *ngIf="!repeat"
    class="col-sm-5 col-form-label"
    for="{{ item.linkId }}"
    >{{ item.text }}</label
  >
  <div class="col-sm-7">
    <input
      type="text"
      class="form-control"
      id="{{ item.linkId }}"
      [formControl]="formControl"
      [ngClass]="{ required: item.required }"
      placeholder="Type and select..."
      (blur)="onFocusOut()"
    />
    <div *ngIf="selectOptions?.length > 0" class="dropdown-content">
      <a *ngFor="let o of selectOptions" (click)="selectOption(o)">{{
        o.valueCoding.display
      }}</a>
    </div>
    <span
      *ngIf="questionnaireInstruction() as instruction"
      class="questionnaire-instruction"
      >{{ instruction }}</span
    >
  </div>
</div>
