.flex {
    display: flex;
}

.right {
    margin-left: auto;
}

.repeat-text {
    margin-bottom: 1em;
}

.border-bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px;
}

.questionnaire-instruction {
    font-size: smaller;
    font-style: italic;
    color: gray;
    white-space: pre-line;
}
  
.form-control::placeholder {
    color: lightgray;
}
  
/* date placeholder */
input[type=date].date-empty {
    color: lightgray;
}
  
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.form-check {
    padding-top: 7px;
}