/* Style the search box inside the navigation bar */

span {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

.search-container {
  float: right;
}

.search-container button {
  /*float: right;*/
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #d7d7d7;
  font-size: 17px;
  border: none;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 244px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
