
    <span *ngIf="!patient">No Patient</span>
    <span *ngIf="patient" class="p-name">{{patientName}}</span>

    <span *ngIf="patient" class="p-gender" style="text-transform: capitalize">{{patient.gender}}</span>
    <span *ngIf="patient" class="p-dob">DoB: {{patient.birthDate | date : 'dd MMM yyyy'}}</span>
    
    <div *ngIf="!hasLaunchContext" class="search-container" >
        <input type="text" placeholder="Patient Search.." [formControl]="searchCriteria" /> 
        <!--ng-change="$ctrl.change()" ng-blur="$ctrl.hidePatientResults()" ng-hide="$ctrl.hideSearch"-->

        <button type="button" (click)="setShowPatientResults()"> <!-- ng-hide="$ctrl.noSearch" -->
            <i class="fa fa-search"></i>
        </button>
        <div *ngIf="searchResults && searchResults.length > 0 " class="dropdown-content"> <!--ng-show="$ctrl.showPatientResults"-->
            <a *ngFor="let p of searchResults" (click)="loadPatient(p)" >{{p.name}} {{p.dob}}</a>
        </div>
    </div>

