/* app css stylesheet */

.accordion-button {
    font-size: inherit;
}

.form-control::placeholder {
  color: lightgray;
}

/* date placeholder */
input[type=date].ng-empty {
  color: lightgray;
}

.questionnaire-instruction {
  font-size: smaller;
  font-style: italic;
  color: gray;
}

/* Spinner from http://tobiasahlin.com/spinkit/ */
.spinner {
    position: fixed;
    top: 30%;
    left: 45%;

    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #458ac5;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0.7;
    }
  }

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  /*margin-top: 53px;*/
  margin-top: 0;
  width: 0; /* 0 width - change this with JavaScript */
  /*position: fixed; *//* Stay in place */
  position: sticky;
  float: left;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /*background-color: rgba(17, 17, 17, 0.288); */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 12px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-btn {
  /*position: fixed;*/
  position: sticky;
  float: left;
  top: 0;
}

/* The navigation menu links */
.sidenav div {
  margin: 4px 4px 4px 4px;
}

#count {
  padding-top: 8px;
  float: right;
}

.sidenav div input {
  margin: 8px 0px 8px 0px;
}

.sidenav hr {
  margin: 0 0 0 0;
}

.sidenav a {
  padding-top: 8px;
  text-decoration: none;
  /*font-size: 25px;*/
  color: black;
  display: block;
  transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #f1f1f1;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
/*  padding: 20px; */
  margin-left: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}  



