<!--div id="main" class="container"-->
<div class="container p-3 mb-3">
    <div class="row mb-3">
        <div class="col-sm-6 ">
            <h3>Search Questionnaires</h3>

            <div class="form-check">
                <input class="form-check-input" type="radio" value="local" id="local" [(ngModel)]="src" (change)="changeServer('local')" name="server">
                <label class="form-check-label" for="local">Local</label>
            </div>
            <div *ngFor="let s of servers" class="form-check">
                <input class="form-check-input" type="radio" value="{{s}}" id="{{s}}" [(ngModel)]="src" (change)="changeServer(s)" name="server" > 
                <label class="form-check-label" for="{{s}}">{{s}}</label>
            </div>

            <input type="text" id="qsearch" #srch placeholder="Search" (input)="search(srch.value)" [(ngModel)]="qsearch" > <!--ng-model-options='{ debounce: 50 }' ng-change="$ctrl.change()" -->

            <!--span id="count">{{pageCount}} of {{totalCount}}</span-->

            <div *ngFor="let q of questionnaires$ | async">
                <hr>
                <a *ngIf="q.id" (click)="setQuestionnaire(q.resource)" >{{q.title}}</a>
                <a *ngIf="!q.id" (click)="setQuestionnaireByUrl(q.url)" >{{q.title}}</a>    
            </div>
            <hr>
        </div>
        <div class="col-sm-6 " >
            <div style="height: 900px;overflow: auto;" > 
            <pre style="overflow: initial">{{questionnaire$ |async | json}}</pre>
            </div>
        </div>
    </div>
</div>
<!--/div-->