name: Build and Push Docker Image

on:
  workflow_dispatch:

  push:
    paths:
      - 'apps/smart-forms-app/Dockerfile' # Trigger only if Dockerfile is modified
      - 'apps/smart-forms-app/src/**' # Trigger if anything in the src folder is changed.
      - 'apps/smart-forms-app/default.conf' # Trigger if the nginx config has changed.

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read # needed to checkout the repo
    # Conditional logic to skip if workflow is triggered by Dependabot
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker builds
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to build
          images: ghcr.io/${{ github.repository }}/smart-forms
          # generate Docker tags based on Git refs
          # set latest tag for default branch
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha,prefix=sha-
            type=semver,pattern={{version}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/smart-forms-app
          file: ./apps/smart-forms-app/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
